<p>Log in using one of the following services</p>

<% unless Rails.env.production? %>
  <div class="row">
    <div class="large-12 columns">
      <a href="/auth/developer" class="button alert expand">Developer login</a>
    </div>
  </div>
<% end %>

<div class="row">
  <% number_of_providers = @providers.count %>
  <% @providers.each do |provider| %>
    <div class="large-<%= (12 / number_of_providers).to_i.to_s %> columns">
      <a href="/auth/<%= provider[:name] %>" class="button expand"><%= provider[:label] %></a>
    </div>
  <% end %>
</div>
