<p>Log in using one of the following services</p>

<% unless Rails.env.production? %>
  <div class="row">
    <div class="large-12 columns">
      <a href="/auth/developer" class="button alert expand">Developer login</a>
    </div>
  </div>
<% end %>

<div class="row">
  <% number_of_providers = OmniAuth::Builder.providers.count %>
  <% OmniAuth::Builder.providers.each do |provider| %>
    <div class="large-<%= (12 / number_of_providers).to_i.to_s %> columns">
      <a href="/auth/<%= provider[:name] %>" class="button expand"><%= provider[:name].to_s.titleize %></a>
    </div>
  <% end %>
<!--
  <div class="large-4<%= (12 / number_of_providers).to_i.to_s %> columns">
    <a href="/auth/twitter" class="button expand">Twitter</a>
  </div>
  <div class="large-4 columns">
    <a href="/auth/linkedin" class="button expand">LinkedIn</a>
  </div>
-->
</div>
