<h1>Editing implementation state</h1>

<div class="button-bar">
	<div class="button-group">
		<%= link_to 'Back to recommendations', states_path, class: 'small secondary button' %>
	</div>
	<div class="button-group">
		<%= link_to 'Cancel', @state, class: 'small button' %>
	</div>
</div>

<%= render 'form' %>