<h1>New implementation state</h1>

<div class="button-bar">
	<div class="button-group">
		<%= link_to 'Back to states', states_path, class: 'small secondary button' %>
	</div>
</div>

<%= render 'form' %>