<h1>Tech Radar</h1>

<p>This is your new tech radar. This page will become filled with your wonderful radar, but first you need to create it.</p>

<p>You'll want to do the following:</p>

<ol>
<li>We've created four categories for you to start with but you can <%= link_to "customise them", categories_path %></li>
<li><%= link_to "Add some technologies", technologies_path %></li>
<li>Provide recommendations for your technologies so they will start to appear on the radar</li>
<li>Once you've settled in start adding products and indicating the states of the technologies they utilise</li>
</ol>