<div>
	<div class="row">
		<div class="large-4 push-8 columns"></div>
		<div class="large-8 pull-4 columns">
			<h1>Publish your technology roadmap</h1>
			<p>A tech radar is an easy way to communicate which technologies should be adopted and which should be dropped.</p>
		</div>
	</div>
</div>

<hr />

<div>
	<div class="row">
		<div class="large-4 columns"></div>
		<div class="large-8 columns">
			<h1>Keep track of technology use</h1>
			<p>With Our Tech Radar you can connect technologies to products, meaning you can easily see whether products are using potentially problematic tools.</p>
		</div>
	</div>
</div>

<hr />

<div class="row">
	<div class="large-12">
		<%= link_to "Create your company's tech radar now", login_path, class: 'expand button success' %>
	</div>
</div>