footer {
	background-color: #222;
	color: #fff;

	margin-top: 20px;
	padding-top: 20px;
	padding-bottom: 20px;

	.social {

	}

	.legal {
		font-family: arial, sans-serif;
		font-size: 12px;
		margin-top: 15px;
	}
}