// Place all the styles related to the Recommends controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.recommendation-details {
	
	margin-bottom: 10px;

	time {
		color: #666;
	}
}

.recommendation-context {
	p:last-child {
		margin-bottom: 0;
	}
}

.recommendation-type {
	font-weight: bold;
	color: blue;
}