<h1>New technology</h1>

<div class="button-bar">
	<div class="button-group">
		<%= link_to 'Back to technologies', technologies_path, class: 'small secondary button' %>
	</div>
</div>

<%= render 'form' %>