<footer>

<div class="row">
	<div class="large-2 small-12 columns text-center social">
		<%= image_tag 'social/social-googleplus-colour-30.png' %>
		<%= image_tag 'social/social-facebook-colour-30.png' %>
		<%= image_tag 'social/social-twitter-colour-30.png' %>
	</div>
	<div class="large-10 small-12 columns">
	<!--
		<div class="row">
			<div class="large-12 columns">
				<ul class="button-group">
					<li class="tiny secondary button">About us</li>
					<li class="tiny secondary button">Privacy policy</li>
					<li class="tiny secondary button">Terms and conditions</li>
				</ul>
			</div>
		</div>
	-->
		<div class="row">
			<div class="large-12 columns">
				<small>Copyright&copy;2013 Duncan Sample, all rights reserved.</small>
			</div>
		</div>
	</div>
</div>
	
</footer>