<div id="markdownHelp" class="reveal-modal row">
  <h2>Markdown</h2>

  <p>In depth documentation of Markdown is available over on <a href="http://daringfireball.net/projects/markdown/basics">Daring Fireball</a></p>

  <hr />

  <div class="large-4 columns">

    <h3>Basic formatting</h3>
    <div class="code panel">
      **bold**<br />
      __bold__<br />
      *italics*<br />
      _italics_
    </div>

    <h3>Headings</h3>
    <div class="code panel">
      # Heading 1<br />
      ## Heading 2<br />
      ### Heading 3<br />
      #### Heading 4<br />
      ##### Heading 5<br />
      ###### Heading 6
    </div>

  </div>

  <div class="large-4 columns">

    <h3>Code</h3>
    <div class="code panel">
      `Inline code` using backticks<br />
      <span>&#x21e5;</span> Code lines prefixed by a tab<br />
      <span>&sdot;&sdot;&sdot;&sdot;</span>Code lines prefixed by 4 spaces
    </div>

    <h3>Links</h3>
    <div class="code panel">
      [GitHub](http://github.com)
    </div>

  </div>

  <div class="large-4 columns">

    <h3>Lists</h3>
    <div class="code panel">
      * Unordered list<br />
      <span>&sdot;&sdot;</span>* Nested list
    </div>

    <div class="code panel">
      1. Ordered list<br />
      <span>&sdot;&sdot;</span>* Nested unordered list<br />
      <span>&sdot;&sdot;</span>* Another item<br />
      2. Another item<br />
      <span>&sdot;&sdot;</span>1. Nested ordered list<br />
      <span>&sdot;&sdot;</span>2. Another item<br />
    </div>

    <h3>Quotes</h3>
    <div class="code panel">
      > Quotes block contents<br />
      > continuation of quote.
    </div>

  </div>

  <a class="close-reveal-modal">&#215;</a>
</div>
